<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="RadiusR_Netspeed_5Entities" connectionString="metadata=res://*/RadiusR_Netspeed.csdl|res://*/RadiusR_Netspeed.ssdl|res://*/RadiusR_Netspeed.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-1GE6VVN\LOCALSQL;initial catalog=RadiusR_Netspeed_5;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="RadiusR_Netspeed_5Entities1" connectionString="metadata=res://*/RadiusR_Netspeed.csdl|res://*/RadiusR_Netspeed.ssdl|res://*/RadiusR_Netspeed.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-1GE6VVN\LOCALSQL;initial catalog=RadiusR_Netspeed_5;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  <add name="RadiusR_NetSpeed_6Entities" connectionString="metadata=res://*/RadiusR_Sarnet.csdl|res://*/RadiusR_Sarnet.ssdl|res://*/RadiusR_Sarnet.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-1GE6VVN\LOCALSQL;initial catalog=RadiusR_NetSpeed_6;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>